@use 'sass:math';
@use 'sass:map';
@use './style.scss';


$default: #545c64;
$scrollbar: #0ad4f8;
$header-bg: #000;

$header-height: 50px;
$p-border-color: var(--p-border-color);
@forward 'element-plus/theme-chalk/src/common/var.scss' with ($header: ('height': $header-height,
        'padding': 0 10px 0 10px,
    ));
:root{
    --p-border-color:#eee
}
html.dark{
    --p-border-color:#666
}
